.message-block {
  background-color: #f8f8f8;
  bottom: 0;
  box-shadow: 3px 3px 5px 6px #ccc;
  height: 200px;
  overflow: scroll;
  padding: 0 1em;
  position: fixed;
  right: 0;
  width: 320px;
}

.message-block-list {
  padding: .5em 0;
}
.message-block-list li {
  list-style-type: none;
  padding: .25em 0;
}
